In [1]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [21]:
marksB=[]
for student in student_marks[1:]:
    print(student[0])
    print(student[1][1])
    marksB.append([student[1][1],student[0]])

Ankit
34
Aravind
23
Lakshay
23
Gyan
82
Pranav
23

In [23]:
sorted_list=sorted(marksB)

In [25]:
sorted_list[-1]

[82, 'Gyan']

In [39]:
marks_in_c=[]

In [40]:
for student in student_marks[1:]:
    marks_in_c.append([student[1][3]])

In [41]:
marks_in_c

[[55], [44], [54], [63], [56]]

In [53]:
temp=0
count=0

In [54]:
for marks in marks_in_c:
    i=marks[0]
    temp=temp+int(i)
    count=count+1

In [55]:
average_of_marks_in_c=temp/count

In [56]:
average_of_marks_in_c

54.4

In [73]:
percentage=[]

In [74]:
for student in student_marks[1:]:
    percentage.append([(sum(student[1])/500*100),student[0]])

In [75]:
percentage

[[47.599999999999994, 'Ankit'],
 [39.2, 'Aravind'],
 [37.8, 'Lakshay'],
 [45.0, 'Gyan'],
 [36.199999999999996, 'Pranav']]

In [78]:
sorted_percentage=sorted(percentage)

In [79]:
sorted_percentage[-1]

[47.599999999999994, 'Ankit']

In [84]:
top_4=[]
sorted_marks=[]

In [88]:
for student in student_marks[1:]:
    sorted_marks=sorted(student[1])
    top_4.append([student[0],sorted_marks])

In [94]:
top_4

[['Ankit', [34, 41, 45, 55, 63]],
 ['Aravind', [23, 34, 42, 44, 53]],
 ['Lakshay', [13, 23, 32, 54, 67]],
 ['Gyan', [23, 23, 34, 63, 82]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [100]:
top_4[0][1][1:5]

[41, 45, 55, 63]

In [111]:
final_list=[]

In [113]:
for index,student in enumerate(top_4):
    print(index,student)
    final_list.append([top_4[index][1][1:5],top_4[index][0]])

0 ['Ankit', [34, 41, 45, 55, 63]]
1 ['Aravind', [23, 34, 42, 44, 53]]
2 ['Lakshay', [13, 23, 32, 54, 67]]
3 ['Gyan', [23, 23, 34, 63, 82]]
4 ['Pranav', [21, 23, 25, 56, 56]]

In [115]:
percentage_top_4=[]

In [116]:
for i in final_list[1:]:
    percentage_top_4.append([(sum(i[0])/400*100),i[1]])

In [118]:
sorted_top_4=sorted(percentage_top_4)

In [120]:
sorted_top_4[-1]

[50.5, 'Gyan']